/* style.less
 * v1.0.0
 */

// Core Typography
  // 'Roboto' 300,300i,700,700i - 'Montserrat' 400,700
  @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:700italic,300,700,300italic);

// SET Variables
  @baseFontSizeMultiplier: 10px;
  @globalBG : #000;
  @appBG1 : #f0f0f0;
  @appBG : #fff;
  @modalBG : darken(@appBG,2%);
  @actionSheetBG : rgba(0,0,0,0.85);
  @mainColor : rgb(73,72,73);
  @tintColor : rgb(74,144,226);
  @cancelColor : rgb(238,37,36);
  @successColor : rgb(53,226,143);
  @touchBase : 50px;
  @navBase : @touchBase * 1.5;
  @navBG : rgba(red(@appBG),green(@appBG),blue(@appBG),0.95);
  @mainColorMedium : lighten(@mainColor,20%);
  @mainColorLight : lighten(@mainColor,40%);
  @mainColorDark : darken(@mainColor,10%);
  @tintColorDark : darken(@tintColor,20%);
  @tintColorLight : lighten(@tintColor,20%);
  @cancelColorDark : darken(@cancelColor,20%);
  @cancelColorLight : lighten(@cancelColor,20%);
  @successColorDark : darken(@successColor,20%);
  @successColorLight : lighten(@successColor,20%);
  @imageBGColor: #fafafa;
  @timingFunction : cubic-bezier(.11,1,.97,1);
  @fontFamilyB : "AvenirNext-Bold","Roboto-Bold";
  @fontFamilyM : "AvenirNext-DemiBold","Roboto-Medium";
  @fontFamilyL : "AvenirNext-UltraLight","Roboto-Light";
  @fontFamily : "AvenirNext-Regular","Roboto";
  @fontFamilySerif : "Times New Roman", "Times";
  @fontFamilyHeader : "ArquitectaBold";
  @fontFamilyHeaderB : "ArquitectaBlack";
  @fontFamilyHeaderL : "ArquitectaLight";
  @inputFontSize: 1.1rem;
  @borderStandard : (@touchBase / @touchBase) solid;

// Import Bootstrap Flex framework
  @import "bootstrap.min.css";

// App-specific class definitions
  .restrict960 {
    display: block;
    max-width: 960px !important;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (min-width: 768px) {
    .hide-desktop {
      display: none;
    }
  }

  @media only screen and (max-width: 767px) {
    .hide-mobile {
      display: none;
    }
  }

  //DEBUG CLASSES
  .g10 {
    background-color: rgba(0,0,0,0.1);
  }

// FLEXBOX CLASSES
  .flexContainer {
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-wrap: nowrap !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-align-content: stretch !important;
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    &.flexContainerRow {
      -webkit-flex-direction: row !important;
      -ms-flex-direction: row !important;
      flex-direction: row !important;
    }
    &.flexContainerColumn {
      -webkit-flex-direction: column !important;
      -ms-flex-direction: column !important;
      flex-direction: column !important;
    }
    &.flexContainerSpaceAround {
      -webkit-justify-content: space-around !important;
      -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
    }
    .flexItem {
      -webkit-order: 0 !important;
      -ms-flex-order: 0 !important;
      order: 0 !important;
      -webkit-flex: 0 0 auto !important;
      -ms-flex: 0 0 auto !important;
      flex: 0 0 auto !important;
      -webkit-align-self: auto !important;
      -ms-flex-item-align: auto !important;
      align-self: auto !important;
      &.flexItemElastic {
        -webkit-flex: 1 1 auto !important;
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important;
      }
    }
  }

// Base Styles
  html, body {
    margin: 0;
    padding: 0;
    color: @mainColor;
    background-color: @appBG;
  }

// Site-layout objects
  section.jumbotron {
    margin-top: 5vh;
    min-height: 70vh;
    background-color: darken(@appBG, 2%);
    background-size: cover;
    background-repeat: no-repeat;
    //background-position: 50% 80%;
    //background-image: url(../img/bg01.jpg);
    background-position: 100% 30%;
    background-image: url(../img/bg02.jpg);
    img {
      margin-bottom: 2vh;
    }
    h1 {
      color: @tintColor;
    }
    h2 {
      color: @mainColorLight;
    }
    a.btn {
      margin-top: 2vh;
    }
  }

  section.appLinks {
    height: 200px;
    .appBtn {
      height: 40px;
      img {
        height: 100%;
        width: auto;
      }
    }
  }

  footer.privacy {
    margin-top: 10vh;
    min-height: 20vh;
  }
  